<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Предметы</title>
</head>
<body>
<table>
    <tr th:each="academicSubjectEach : ${academicSubjectList}">
        <td th:utext="${academicSubjectEach.name}"></td>
        <td><a th:href='@{/academicsubject/remove(id = ${academicSubjectEach.id})}'>Удалить</a></td>
        <td><a th:href='@{/academicsubject/edit(id = ${academicSubjectEach.id})}'>Обновить</a></td>
    </tr>
</table>

<h2>Добавить</h2>
<form th:action="@{/academicsubject}" th:object="${academicSubject}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Название предмета: <input type="text" th:field="*{name}" th:value="*{name}"/></p>
    <p><input type="submit" value="Добавить" /> <input type="reset" value="Сбросить" /></p>
</form>
</body>
</html>