<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Предметы</title>

    <link type="text/css" media="all" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="menu">
    <div class="menu__links">
        <a class="menu__links-item" href="/listofdisciplines">Перечень дисциплин</a>
        <a class="menu__links-item" href="/schedule">Расписание</a>
        <a class="menu__links-item" href="/teacher">Преподаватели</a>
    </div>
</div>


<th:block th:if="${#httpServletRequest.remoteUser} != null">
    <h1 th:inline="text">Здравствуй [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input id="inputout" type="submit" value="Выйти"/>
    </form>
</th:block>

<table>
    <tr th:each="academicSubjectEach : ${academicSubjectList}">
        <td th:utext="${academicSubjectEach.name}"></td>
        <td><a th:href='@{/academicsubject/remove(id = ${academicSubjectEach.id})}'>Удалить</a></td>
        <td><a th:href='@{/academicsubject/edit(id = ${academicSubjectEach.id})}'>Обновить</a></td>
    </tr>
</table>

<h2>Добавить</h2>
<form th:action="@{/academicsubject}" th:object="${academicSubject}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Название предмета: <input type="text" th:field="*{name}" th:value="*{name}"/></p>
    <p><input type="submit" value="Добавить" /> <input type="reset" value="Сбросить" /></p>
</form>

</body>
</html>