<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Предметы</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DAS | DAILY ATTENDANCE SYSTEM</a>
    <ul class="nav navbar-nav mr-auto">
    </ul>

    <ul class="nav navbar-nav form-inline">
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser} != null">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-outline-primary" type="submit" value="Выйти"/>
            </form>
        </li>
    </ul>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!</h1>
    <p class="lead">Если вы собираетесь или уже пропустили занятие, укажите это в данной системе.</p>
</div>

<!-- Модальное окно -->
<th:block th:if="${dayList != null}" th:each="dayEach : ${dayList}">
    <th:block th:each="day : ${dayEach.getValue()}">
        <div class="modal fade" th:attr="id='modal'+${day.getId()}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" th:attr="id='myModal'+${day.getId()}">Почему решил/а пропустить?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a class="btn btn-danger btn-block" role="button" aria-pressed="true" th:attr="href='dailyattendance/add?dayId='+${day.getId()}+'&flag=2'">Отсутствовал</a>
                        <a class="btn btn-warning btn-block" role="button" aria-pressed="true" th:attr="href='dailyattendance/add?dayId='+${day.getId()}+'&flag=3'">Болел
                            (ув. причина)</a>
                        <a class="btn btn-secondary btn-block" role="button" aria-pressed="true" th:attr="href='dailyattendance/add?dayId='+${day.getId()}+'&flag=4'">Пары не
                            было</a>
                        <br>
                        <hr>
                        <a class="btn btn-outline-primary btn-block" role="button" aria-pressed="true" th:attr="href='dailyattendance/add?dayId='+${day.getId()}+'&flag=1'">Присутствовал</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<div class="container text-center">

    <table th:if="${dayList != null}" th:each="dayEach : ${dayList}" class="table">
        <h3 th:text="|${dayEach.value.get(0).dayName} ${dayEach.getKey()}|"></h3>
        <tbody>
        <th:block th:each="day : ${dayEach.getValue()}">
            <th:block th:each="timeEach : ${timeList}">
                <tr th:if="${day.getTimeId() == timeEach.getId()}" th:attr="id='colorTable'+${day.getId()}">
                    <th th:text="${timeEach.getNumber()}"></th>
                    <td th:text="|${timeEach.timeFrom} - ${timeEach.timeTo}|">}></td>
                    <th:block th:each="dailyAttendanceEach : ${dailyAttendanceList}">
                        <th:block th:if="${dailyAttendanceEach.getDayId() == day.getId()}">
                            <th:block th:switch="${dailyAttendanceEach.getFlag()}">
                                <script th:case="2" th:inline="javascript">
                                    var trTable = document.getElementById('colorTable' + [[${day.getId()}]]);
                                    trTable.setAttribute('class', 'table-danger')
                                </script>
                                <script th:case="3" th:inline="javascript">
                                    var trTable = document.getElementById('colorTable' + [[${day.getId()}]]);
                                    trTable.setAttribute('class', 'table-warning')
                                </script>
                                <script th:case="4" th:inline="javascript">
                                    var trTable = document.getElementById('colorTable' + [[${day.getId()}]]);
                                    trTable.setAttribute('class', 'table-secondary')
                                </script>
                            </th:block>
                        </th:block>
                    </th:block>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                th:attr="data-target='#modal'+${day.getId()}">Установить флаг
                        </button>
                    </td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>

</div>


<footer class="footer font-small" style="background-color: #f8f9fa">
    <div class="container">
        <div class="footer-copyright text-center py-3">2018 | created by <a target="_blank"
                                                                            href="https://github.com/bydirectx">bydirectx</a>
            | site:
            <a href="http://bdrx.gq"> bdrx.gq</a>
        </div>
    </div>
</footer>

</body>
</html>