<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link type="text/css" media="all" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<th:block th:if="${#httpServletRequest.remoteUser} != null">
    <h1 th:inline="text">Здравствуй [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input id="inputout" type="submit" value="Выйти"/>
    </form>
</th:block>

<th:block th:if="${#httpServletRequest.remoteUser} == null">
    <p>Нажмите <a th:href="@{/hello}">Войти</a> чтобы авторизоваться в системе.</p>
</th:block>

<ul>
    <li><a href="/academicsubject">Предметы</a></li>
    <li><a href="/group">Группы</a></li>
    <li><a href="/schedule">Расписание</a></li>
    <li><a href="/teacher">Преподаватели</a></li>
    <li><a href="/time">Время</a></li>
    <li><a href="/department">Кафедра</a></li>
    <li><a href="/listofdisciplines">Перечень дисциплин</a></li>
</ul>
</body>
</html>