<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Дисциплины по группам</title>
</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<th:block th:if="${listGroup != null}" th:each="groupEach : ${listGroup}">
    <h2 th:utext="${groupEach.name}"></h2>
    <table th:each="groupAcademicSubjectEach : ${listGroupAcademicSubject}">
        <th:block th:each="academicSubjectEach : ${listAcademicSubject}">
            <tr th:if="${groupEach.getId() == groupAcademicSubjectEach.getStudyGroupId() and
            groupAcademicSubjectEach.getAcademicSubjectId() == academicSubjectEach.getId()}">
                <td th:utext="${academicSubjectEach.name}"></td>
                <td th:utext="${groupAcademicSubjectEach.number_hours}"></td>
            </tr>
        </th:block>
    </table>
</th:block>
</body>
</html>