<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link type="text/css" media="all" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="menu">
    <div class="menu__links">
        <a class="menu__links-item" href="/listofdisciplines">Перечень дисциплин</a>
        <a class="menu__links-item" href="/schedule">Расписание</a>
        <a class="menu__links-item" href="/teacher">Преподаватели</a>
    </div>
</div>


<div>
    Добавить нового пользователя
</div>
<p th:if="${message != null}" th:utext="${message}"></p>
<form th:action="@{/registration}" th:object="${user}" method="post">
    <div><label> Имя пользователя: <input type="text" name="name"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегиситрироваться"/></div>
</form>
</body>
</html>