<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>

    <link type="text/css" media="all" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="menu">
    <div class="menu__links">
        <a class="menu__links-item" href="/listofdisciplines">Перечень дисциплин</a>
        <a class="menu__links-item" href="/schedule">Расписание</a>
        <a class="menu__links-item" href="/teacher">Преподаватели</a>
    </div>
</div>


<th:block th:if="${#httpServletRequest.remoteUser} != null">
    <h1 th:inline="text">Здравствуй [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input id="inputout" type="submit" value="Выйти"/>
    </form>
</th:block>

<h2>Выберите группу</h2>
<form th:action="@{/schedule/group}" method="post">
    <select th:name="selectGroup">
        <option th:value="-1" selected hidden th:utext="default"/>
        <th:block th:each="groupEach : ${listGroup}">
            <option th:value="${groupEach.id}" th:utext="${groupEach.name}"/>
        </th:block>
    </select>
    <input type="submit" value="Показать" />
</form>

<h2 th:if="${groupId != null}" th:utext="${groupId.name}"></h2>
<table th:each="dayEach : ${listDay}">
    <h2 th:utext="${dayEach.name}"></h2>
    <thead>
        <tr>
            <th>Время</th>
            <th>Предмет</th>
            <th>Первый преподаватель</th>
            <th>Второй преподаватель</th>
            <th>Тип занятия</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:if="${listSchedule != null}" th:each="scheduleEach : ${listSchedule}">
            <tr th:if="${dayEach.id == scheduleEach.dayId}">
                <th:block th:each="timeEach : ${timeList}">
                    <td th:if="${timeEach.id == scheduleEach.timeId}">
                        <p th:text="|${timeEach.timeFrom} - ${timeEach.timeTo}|">}</p>
                    </td>
                </th:block>
                <th:block th:each="academicSubjectEach : ${academicSubjectList}">
                    <td th:if="${academicSubjectEach.id == scheduleEach.academicSubjectId}"
                        th:utext="${academicSubjectEach.shortName}"></td>
                </th:block>
                <th:block th:each="teacherEach : ${teacherList}">
                    <td th:if="${teacherEach.id == scheduleEach.firstTeacherId}" th:text="|${teacherEach.lastName} ${teacherEach.firstName.charAt(0)}. ${teacherEach.patronymic.charAt(0)}.|"></td>
                    <td th:if="${teacherEach.id == scheduleEach.secondTeacherId}" th:text="|${teacherEach.lastName} ${teacherEach.firstName.charAt(0)}. ${teacherEach.patronymic.charAt(0)}.|"></td>
                </th:block>
                <td th:if="${scheduleEach.flag} == 1" th:utext="Лекционное занятие"></td>
                <td th:if="${scheduleEach.flag} == 2" th:utext="Лабораторная работа"></td>
                <td th:if="${scheduleEach.flag} == 3" th:utext="Практическое занятие"></td>
                <td th:if="${scheduleEach.flag} == 4" th:utext="Контрольная работа"></td>
                <th:block th:if="${#httpServletRequest.remoteUser} != null">
                    <td><a th:href='@{/schedule/edit(id = ${scheduleEach.id})}'>Обновить</a></td>
                    <td><a th:href='@{/schedule/remove(id = ${scheduleEach.id})}'>Удалить</a></td>
                </th:block>
            </tr>
        </th:block>
    </tbody>
</table>


<th:block th:if="${#httpServletRequest.remoteUser} != null">
    <h2>Добавить</h2>
    <form th:action="@{/schedule}" th:object="${schedule}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <p>Группа:
            <select th:field="*{groupId}">
                <option th:each="group : ${listGroup}" th:value="${group.id}" th:utext="${group.name}"></option>
            </select></p>
        <p>Предмет:
            <select th:field="*{academicSubjectId}">
                <option th:each="academicSubject : ${academicSubjectList}" th:value="${academicSubject.id}" th:utext="${academicSubject.name}"></option>
            </select></p>
        <p>Предмет на замену:
            <select th:field="*{substitutionAcademicSubjectId}">
                <option th:each="academicSubject : ${academicSubjectList}" th:value="${academicSubject.id}" th:utext="${academicSubject.name}"></option>
            </select></p>
        <p>Первый преподаватель:
            <select th:field="*{firstTeacherId}">
                <option th:each="teacher : ${teacherList}" th:value="${teacher.id}" th:utext="|${teacher.lastName} ${teacher.firstName.charAt(0)}. ${teacher.patronymic.charAt(0)}.|"></option>
            </select></p>
        <p>Второй преподаватель:
            <select th:field="*{secondTeacherId}">
                <option th:each="teacher : ${teacherList}" th:value="${teacher.id}" th:utext="|${teacher.lastName} ${teacher.firstName.charAt(0)}. ${teacher.patronymic.charAt(0)}.|"></option>
            </select></p>
        <p>Время:
            <select th:field="*{timeId}">
                <option th:each="time : ${timeList}" th:value="${time.id}" th:utext="|${time.timeFrom} - ${time.timeTo}|"></option>
            </select></p>
        <p>День:
            <select th:field="*{dayId}">
                <option th:each="day : ${listDay}" th:value="${day.id}" th:utext="${day.name}"></option>
            </select></p>
        <p>Тип занятия:
            <select th:field="*{flag}">
                <option th:value="1" th:utext="Лекционное занятие"></option>
                <option th:value="2" th:utext="Лабораторная работа"></option>
                <option th:value="3" th:utext="Практическое занятие"></option>
                <option th:value="4" th:utext="Контрольная работа"></option>
            </select>
        <p><input type="submit" value="Добавить" /> <input type="reset" value="Сбросить" /></p>
    </form>
</th:block>
</body>
</html>